// Some elements have different default paddings and/or
// margins depending on the browser, and so, it is common
// practice to start everything at 0 like the lines below.
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
// body {
//     margin: 0 auto;
// }
.bio {
    .bio--username {
        display: inline-block;
    }
    .bio--btn {
        padding: .75rem 1rem;
        display: inline-block;
        margin-left: 1rem;
        border-radius: 5px;
    }
    .bio--stats {
        p {
            display: inline-block;
            margin-right: 1rem;
            span {
                font-weight: bold;
            }
        }
    }
}
.stories {
    display: flex;
    flex-wrap: nowrap;
}
.story {
    margin: 1rem 1rem;
    display: inline-block;
    .story--img {
        // Creates Rings
        border: 2px solid #BBB;
        padding: 2px;
    }
    p {
        padding-left: .55rem;
    }
}
.post {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    
    border: 2px solid #EEE;

    
}
.post--sidebar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    .post--info {
        margin-left: 2rem;
        h2 {
            display: inline;
            color: #333;
            margin: 1rem 2rem;
        }
        span {
            color: blue;
        }
        p {
            margin: 1rem 2rem;
        }
        border-bottom: 2px solid #EEE;
    }
    .icons {
        padding-left: 2rem;
        span {
            display: inline-block;
            margin: 1rem;
        }
    }
    .post--actions {    
        margin: 1rem 2rem;
        p {
            font-weight: bold;
        }
        span {
            display: block;
    
        }

    }
}